{% extends 'base.html' %}
{% load static %}
{% block title %}
contact
{% endblock %}

{% block content %}
    <div class="team-section spad">
        <div class="overlay"></div>
        <div class="container">
            <div class="section-title">
                <h2>Get in the <span> deepMus</span> and meet the team</h2>
            </div>
            <div class="row">
                <!-- single member -->
                <div class="col-sm-4">
                    <div class="member">
                        <img src="{% static 'img/user-solid.svg' %}" alt="">
                        <h2>PUBSTUDIO</h2>
                        <h3>Project Designer</h3>
                    </div>
                </div>
                <!-- single member -->
                <div class="col-sm-4">
                    <div class="member">
                        <img src="{% static 'img/user-regular.svg' %}" alt="">
                        <h2>Reza Soltani</h2>
                        <h3>Full-Stack Developer</h3>
                    </div>
                </div>
                <!-- single member -->
                <div class="col-sm-4">
                    <div class="member">
                        <img src="{% static 'img/user-solid.svg' %}" alt="">
                        <h2>PUB-ER-COD</h2>
                        <h3>DEVOPS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% comment %}
    <!-- Testimonial section -->
    <div dir="ltr" class="testimonial-section pb100">
        <div class="test-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <div class="section-title right">
                        <h2>نظر کاربران</h2>
                    </div>
                    <div class="owl-carousel" id="testimonial-slide">
                        <!-- single testimonial -->
                        <div class="testimonial">
                            <span>‘​‌‘​‌</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .</p>
                            <div class="client-info">
                                <div class="avatar">
                                    <img src="{% static 'img/avatar/01.jpg' %}" alt="">
                                </div>
                                <div class="client-name">
                                    <h2>Michael Smith</h2>
                                    <p>CEO Company</p>
                                </div>
                            </div>
                        </div>
                        <!-- single testimonial -->
                        <div class="testimonial">
                            <span>‘​‌‘​‌</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .</p>
                            <div class="client-info">
                                <div class="avatar">
                                    <img src="{% static 'img/avatar/02.jpg' %}" alt="">
                                </div>
                                <div class="client-name">
                                    <h2>Michael Smith</h2>
                                    <p>CEO Company</p>
                                </div>
                            </div>
                        </div>
                        <!-- single testimonial -->
                        <div class="testimonial">
                            <span>‘​‌‘​‌</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .</p>
                            <div class="client-info">
                                <div class="avatar">
                                    <img src="{% static 'img/avatar/01.jpg' %}" alt="">
                                </div>
                                <div class="client-name">
                                    <h2>Michael Smith</h2>
                                    <p>CEO Company</p>
                                </div>
                            </div>
                        </div>
                        <!-- single testimonial -->
                        <div class="testimonial">
                            <span>‘​‌‘​‌</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .</p>
                            <div class="client-info">
                                <div class="avatar">
                                    <img src="{% static 'img/avatar/02.jpg' %}" alt="">
                                </div>
                                <div class="client-name">
                                    <h2>Michael Smith</h2>
                                    <p>CEO Company</p>
                                </div>
                            </div>
                        </div>
                        <!-- single testimonial -->
                        <div class="testimonial">
                            <span>‘​‌‘​‌</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .</p>
                            <div class="client-info">
                                <div class="avatar">
                                    <img src="{% static 'img/avatar/01.jpg' %}" alt="">
                                </div>
                                <div class="client-name">
                                    <h2>Michael Smith</h2>
                                    <p>CEO Company</p>
                                </div>
                            </div>
                        </div>
                        <!-- single testimonial -->
                        <div class="testimonial">
                            <span>‘​‌‘​‌</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است .</p>
                            <div class="client-info">
                                <div class="avatar">
                                    <img src="{% static 'img/avatar/02.jpg' %}" alt="">
                                </div>
                                <div class="client-name">
                                    <h2>Michael Smith</h2>
                                    <p>CEO Company</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial section end-->
{% endcomment %}

