{% extends 'base.html' %}
{% load static %}
{% block title %}
contact
{% endblock %}

{% block content %}
<div class="services-section spad">
    <div class="container">
        <div class="section-title text-right">
            <form action="" method="post">
                <div class="form-control">
                    <label for="">متن سوال</label>
                    <input type="radio" name="" id="">
                    <input type="radio" name="" id="">
                    <input type="radio" name="" id="">
                    <input type="radio" name="" id="">
                    <input type="radio" name="" id="">
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}